@model UserLoginModel
@{
    Layout = "_NewLayout";
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/Login.css"> 
    <title>@ViewData["Title"]</title>
</head>
<h1 class="heading"><b>Login</h1>
<div class="formdata">
    <form method="post">
        @if (ViewBag.IsSucess)
        {
            <div class="alert alert-danger" role="alert" id="warning">
                Email-id or password is incorrect
            </div>
        }

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="InputEmail" >
            
        </div>
        <div class="mb-3">
            <label asp-for="UserPassword" class="form-label">Password</label>
            <input asp-for="UserPassword" type="password" class="form-control" id="InputPassword">
        </div><br />
         <button type="submit" class="btn btn-primary">Login</button>
       
    </form>
</div>

