@model UserSignUpModel
@{
    Layout = "_NewLayout";
    ViewData["Title"] = "SignUp";
}

<head>
    <link rel="stylesheet" href="~/css/Signup.css"> <!--Bootstrap-->
    <title>@ViewData["Title"]</title>
</head>
<h1 class="heading"><b>Signup</h1>
<div class="formdata">
    <form asp-controller="SignUp" asp-action="SignUpDetails">
        <div class="mb-3">
            <label asp-for="UserName" class="form-label">Name</label>
            <input asp-for="UserName" type="text" class="form-control" id="InputName" required>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" required>
            
        </div>
        <div class="mb-3">
            <label asp-for="UserPassword" class="form-label">Password</label>
            <input asp-for="UserPassword" type="password" class="form-control" id="InputPassword" required>
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="InputPassword">
        </div></b>
        <button type="submit" class="btn btn-primary" value="Add User">SignUp</button>
    </form>
</div>

