@{
    Layout = "_NewLayout";
    ViewData["title"] = "Home";
}
<link href="~/css/Index.css" rel="stylesheet" />
<!--Main Page for all the viewers of the website-->
<div>
    <h1>Book Reading Event</h1>
</div>


